body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#home_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

#button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

img {
  width: 50rem;
  height: 45rem;
}

button {
  width: 10rem;
  height: 4rem;
  background-color: #48cae4;
  color: snow;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid darkslategray;
  border-radius: 16px;
}

button:hover {
  /* transform: scale(1.02); */
  background-color: #21BEDE;
}

h1 {
  font-size: 100px;
  margin: 15px;
}

h3 {
  font-size: 50px;
  position: absolute;
  right: 12%;
  padding-bottom: 100px;
}

p {
  font-size: 20px;
  position: absolute;
  right: 7%;
  padding-top: 15px;
}